{% extends 'base.html' %}
{% load static %}
{% block title %}Videos{% endblock title %}

{% block content %}

<div class="container mt-5">
    <!-- YouTube Video 1 -->
    <div class="row justify-content-center align-items-center mb-4">
        <div class="col-md-6 text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/watch?v=-AOPAqxAFJk" frameborder="0" allowfullscreen></iframe>
            <h4>Vlog 1</h4>
            <p>Description for Video 1</p>
        </div>
    </div>

    <!-- YouTube Video 2 -->
    <div class="row justify-content-center align-items-center mb-4">
        <div class="col-md-6 text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-AOPAqxAFJk" frameborder="0" allowfullscreen></iframe>
            <h4>Vlog 2</h4>
            <p>Description for Video 2</p>
        </div>
    </div>

    <!-- YouTube Video 3 -->
    <div class="row justify-content-center align-items-center mb-4">
        <div class="col-md-6 text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YOUR_VIDEO_ID_3" frameborder="0" allowfullscreen></iframe>
            <h4>Vlog 3</h4>
            <p>Description for Video 3</p>
        </div>
    </div>
</div>
{% endblock content %}